@model Profile
@{
    ViewData["Title"] = "Contact";
}

<div class="row my-2 bg-light pt-5">
    <div class="col-3 order-lg-1 text-center circle-img img-circle">

        <div class="thumbnail"><svg viewBox="0 0 1 1" width="400" height="400"><image xlink:href="@ViewBag.Avatar" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg></div>
        @*<img src="@ViewBag.Avatar" class="mx-auto img-fluid img-circle d-block img-thumbnail" alt="avatar">*@
        <form method="post" action="/Home/UploadImage" enctype="multipart/form-data">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="picture">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <input type="submit" value="Upload" />
        </form>
        <div class="row mt-2 ml-2">
            <h6>About</h6>
            <p>
                @Model.Info
            </p>
        </div>
        <div class="row mt-5 ml-5">
            @if (!ViewBag.Same && !ViewBag.Friends)
            {
                <a asp-controller="Home"
                   asp-action="FriendRequest"
                   asp-route-id="@Model.UserId"
                   class="btn btn-outline-info">Add to friends</a>
            }
            else if (!ViewBag.Same)
            {
                <a asp-controller="Home"
                   asp-action="RemoveFriend"
                   asp-route-id="@Model.UserId"
                   class="btn btn-outline-danger">Remove from friends</a>
            }
        </div>
    </div>
    <div class="col-lg-8 order-lg-2">
        <div class="tab-content py-4">
            <div class="tab-pane active" id="profile">
                <h5 class="mb-3">Username: @Model.Username</h5>
                <div class="row">
                    <div class="col-md-6">
                        <h6>About</h6>
                        <p>
                            @Model.Info
                        </p>
                    </div>
                    <div class="col-md-6">
                    </div>
                    
                    <div class="col">
                        <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Feed</h5>
                        <div class="input-group feed">
                            <textarea class="form-control" id="feedContent" aria-label="With textarea"></textarea>
                            <button type="button" id="post-feed" class="btn btn-outline-info btn-lg">Post</button>
                        </div>
                        <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                        <div class="row" id="feedList">
                            @{
                                await Html.RenderPartialAsync("_PartialFeed", Model);
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @Html.HiddenFor(x => x.Id, new { id = "profileId" })
</div>